.nav {
    height: 15vh;
    width: 100vw;
    background-color: lightblue;
}
.menu {
    height: 100%;
    margin : 0;
    display : flex;
    align-items: center;
    list-style-type: none;
}

.menu li {
    margin : 0 1%;
}