.films-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;

}

.film-title {
    font-size: large;
    font-weight: bold;
}

.film-card {
    background-color: lightblue;
    padding: 2%;
}

.films-container img {
    width: 200px;
}